*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: white;
}
.navbar .logo img{
    height: 100px;
}
.navbar .navlinks{
    display: flex;
    gap: 30px;
}
.navbar .navlinks a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 18px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .create-account{
    background-color: #357edd;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor:pointer;
    border: none;
    font-size: 16px;
}
.home-box {
background-color: #3a7ec7; /* Blue background */
color: rgb(255, 255, 255); /* White text */
height: 369px;
border-radius: 10px; /* Rounded corners */
align-items: center;
/* justify-content: space-between;  */
flex-wrap: wrap; /* Ensures responsiveness */
}

.home-box img {
height: 330px;
width: 530px;
display: flex;
float: right;
/* margin-right: 218px; */
margin-top: 35px;
}
.home-box h1{
margin-left: 100px;
margin-top: 95px;
float: left;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:44px;
margin-bottom: 35px;
}
.home-box p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 99px;
    max-width: 400px; /* Keep the text in a readable width */
}
.home-box button {
    margin-left: 100px;
    margin-top: 15px;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f5f5f5; /* Yellow button */
    color: #333; /* Dark text */
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}