body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1px; */
    position: sticky;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .logo img {
    height: 100px;
}

.navbar .navlinks {
    display: flex;
    gap: 30px;
}

.navbar .navlinks a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .navlinks a:hover {
    color: #1d548e;
}

.navbar .create-account {
    background-color: #357edd;
    color: white;
    border-radius: 9px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.navbar .create-account:hover {
    border-radius: 0px;
    background-color: rgb(34, 159, 34);
    color: white;
}

.Doctors {
    text-align: center;
    background-image: url(image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

.banner {
    padding-top: 7pc;
}

.banner h1 {
    color: white;
}

.banner a {
    text-decoration: none;
    color: white;
}

.banner .doctor {
    color: rgb(34, 159, 34);
}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    width: 61vw;
    gap: 33px;
    height: 61vh;
    background-color: #9491911b;
    ;
}

.left-side img {
    height: 61vh;
    width: 25vw;
}

.right-side {
    padding-top: 2em;
    padding-right: 20px;
}

.right-side button {
    height: 5vh;
    width: 8vw;
    padding: 5px;
    background-color: #5798dd;
    border: none;
    font-size: 20px;
    gap: 10px;
}

.right-side button:hover {
    background-color: rgb(34, 159, 34);
}

.details h3{
    color: rgb(34, 159, 34);
}
.social-media img{
    height: 30px;
    width: 30px;
}

.expert{
    padding-top: 3em;
    text-align: center;
    background-image: url(expertbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.doctors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 20px;
}
.doc{
    padding-top: 2em;
    padding-bottom: 2em;
}
.doc img{
    height: 33vh;
    border-radius:50%;
}
.doc img:hover{
    transition: .3s;
    transform: scale(0.9,0.9);
    /* border-radius: 2px; */
    /* border:2px solid white; */
    box-shadow: 2px 5px 4px 5px white;

}


.form{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* margin-top: 20px; */
    padding-top: 4em;
}
.form-img {
    width: 80%;
    max-width: 800px;
    background-color: rgba(183, 178, 178, 0.13);
    /* box-shadow: 4px 4px 4px 4px rgb(161, 158, 158); */
    display: flex;
    gap: 20px;
}
.form-img img{
    height: 70vh;
    width:25vw;
}
.form-detail{
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-left: 12px;
    gap: 10px;
}
input{
    height: 4vh;
    width: 22vw;
    padding-left: 12px;
    border: 1px solid rgb(204, 201, 201);
    border-radius:2px;
}
textarea{
    width: 22vw;
    height: 12vh;
    padding-left: 12px;
    padding-top: 12px;
    border: 1px solid rgb(204, 201, 201);
    border-radius:2px;
}
.send{
    height: 6vh;
    width: 11vw;
    background-color:#86B15D;
    border: none;
    color: white;
    cursor: pointer;
}





.footer {
    display: flex;
    flex-direction: row;
    margin-left: 72px;
    margin-right: 72px;
    gap: 20px;
}

.column1 {
    width: 452px;
    padding-top: 22px;
}

.column1 img {
    height: 94px;
    width: 119px;
}

.column1 p {
    padding-top: 16px;
    color: rgba(255, 255, 255, 0.722);
}

.column2 {
    width: 582px;
    padding-top: 22px;
}

.column2 .detail {
    margin-top: 46px;
    color: rgba(255, 255, 255, 0.722);
}

.column2 h2 {
    color: white;
}

.column3 {
    padding-top: 22px;
}

.column3 h2 {
    color: white;
}

.column3 .link {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 9px;
}

.link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.722);
    cursor: pointer;
}

hr {
    /* padding-top: 16px; */
    margin-top: 77px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-bottom {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-text p {
    text-align: center;
    padding-top: 15px;
    color: white;
}

.foot {
    background-color: #0a1a3aba;
    margin-top: 42px;
}